<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingja.cardpackage">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".base.App"
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/><!--主界面-->
        <activity android:name=".activity.RentActivity"/><!--我家出租屋列表-->
        <activity android:name=".activity.HouseActivity"/><!--我的家列表-->
        <activity android:name=".activity.ShopActivity"/><!--我的店列表-->
        <activity android:name=".activity.DetailHouseActivity"/><!--我的家详情-->
        <activity android:name=".activity.DetailRentActivity"/><!--我家出租屋详情-->
        <activity android:name=".activity.DetailShopActivity"/><!--店铺详情-->
        <activity android:name=".activity.RoomListActivity"/><!--房间列表-->
        <activity android:name=".activity.PersonManagerActivity"/>
        <activity android:name=".activity.PersonManagerActivity2"/><!--人员管理-->
        <activity android:name=".activity.RoomManagerActivity"/><!--房屋管理-->
        <activity android:name=".activity.EditTextActivity"/><!--数字编辑-->
        <activity android:name=".activity.EditRoomActivity"/><!--房间编辑-->
        <activity android:name=".activity.EditTextAreaActivity"/><!--标题，备注编辑-->
        <activity android:name=".activity.EditGvActivity"/><!--选择编辑-->
        <activity android:name=".activity.DeviceInfoActivity"/><!--设备信息-->
    </application>



</manifest>